<h2>Crear película</h2>
<div>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input [(ngModel)]="movie.name" type="text" class="form-control" id="name"
               placeholder="Ingrese un nombre de la película">
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea [(ngModel)]="movie.description" class="form-control" id="description"
                  placeholder="Ingrese una descripción de la película"></textarea>
    </div>
    <div class="form-group">
        <label for="genre">Género</label>
        <input [(ngModel)]="movie.genre" type="text" class="form-control" id="genre"
               placeholder="Ingrese un género de la película">
    </div>
    <div class="form-group">
        <label for="year">Año</label>
        <input [(ngModel)]="movie.year" type="text" class="form-control" id="year"
               placeholder="Ingrese el año de la película">
    </div>
    <div class="form-group">
        <label for="duration">Duración</label>
        <input [(ngModel)]="movie.duration" type="text" class="form-control" id="duration"
               placeholder="Ingrese la duración de la película">
    </div>
    <button (click)="saveMovie()" class="btn btn-primary btn-block">Guardar</button>
</div>

